@function imgPath($path) {
  @return url("/assets/images/"+ $path);
}

@mixin centered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin berries() {
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: center center / contain no-repeat;
    z-index: 1;
  }

  @content;
}