section.section.products-menu-section
  h1.title.products-menu-section__title Меню
  - 
    var items = [
      ["coco", "Батончики с молоком"], 
      ["breakfast", "С медом и фруктами"],
      ["berries", "Дикие ягоды"]
    ];

  ul.products-menu
    each item in items
      li.products-menu__item(class=`${item[0] === 'coco' ? 'active' : ""}`)
        a(href="").products-menu__title 
          +image(`bg/${item[0]}.jpg`, "обложка для пункта меню", "products-menu__image")
          .products-menu__text #{item[1]}
        .products-menu__content
          button(type="button").products-menu__close +
          .products-menu__content-text
            | Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 

