.benefits {
  display: flex;
  align-items: flex-start;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.benefits__item {
  text-align: center;
  position: relative;
  padding: 0 3%;
  margin-bottom: 40px;

  @include tablets {
    padding: 0;
    width: 100%;
    max-width: 50%;
    margin-bottom: 27px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include phones {
    display: flex;
    width: 100%;
    max-width: initial;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 67px;
    height: 21px;
    background: imgPath("decor/separator.png") center center no-repeat;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }
}

.benefits__image {
  margin-bottom: 22px;

  @include phones {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.benefits__icon-wrapper {
  overflow: hidden;
  width: 126px;
  height: 126px;
  background: #f2f5f4;
  border-radius: 50%;
  position: relative;
  display: inline-block;

  @include tablets {
    width: 70px;
    height: 70px;
  }

  @include phones {
    width: 126px;
    height: 126px;
  }
}

.benefits__icon {
  @include centered();
  width: 75px;
  height: 70px;

  @include tablets {
    width: 44px;
    height: 40px;
  }

  @include phones {
    width: 75px;
    height: 70px;
  }
}

.benefits__title {
  font-size: 27px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.benefits__content {
  @include phones {
    text-align: left;
  }
}

.benefits__text {}