.btn {
  height: 58px;
  padding: 20px 38px;
  display: inline-block;
  background: $darkGreen;
  color: #fff;
  text-transform: uppercase;
  font-size: $baseFontSize;
  font-weight: bold;
  border-radius: 100px;
  line-height: 1;

  &:hover {
    background: #0f5a47;
    text-decoration: none;
  }

  &--shadowed {
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.4);
  }

  &--shortened {
    padding-left: 27px;
    padding-right: 27px;
  }

  &--color {
    &--white {
      background: #fff;
      color: $darkGreen;
      text-decoration: none !important;
    }

    &--transparent {
      background: transparent;
      text-transform: unset;
      color: $darkGreen;

      &:hover {
        background: transparent !important;
        text-decoration: underline;
      }
    }
  }


}