.fullscreen-menu {
  position: fixed;
  left: -9999px;
  background: rgba(#2e3336, .93);
  z-index: $z-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #fff;

  &.active {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity .3s;
  }
}

.fullscreen-menu__close {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 50px;
}