.how-section {
  background: #f8faf9;

  @include berries {
    &:before {
      background-image: imgPath("decor/blackberry-and-leaves.png");
      width: 197px;
      height: 264px;
      bottom: -104px;
      right: 0;
    }
  }
}

.how-section__container {
  display: flex;
  justify-content: center;
}