.menu {
  display: flex;
  align-items: center;
  margin-right: 49px;

  &--vertical {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 36px;
    margin-right: 0;

    .menu__item {
      margin-right: 0;
    }
  }
}

.menu__item {
  margin-right: 26px;
  margin-bottom: 18px;

  &:last-child {
    margin-right: 0;
  }
}