.order {
  background: 
  imgPath("decor/lonely-blackberry.png") center center no-repeat,
  imgPath("decor/lonely-leaf.png") center center no-repeat,
  imgPath("bg/order.jpg") center center / cover no-repeat;
  color: $darkGreen;
}

.title.order__title {
  color: inherit;
}
