.products__container {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.products__ingredients {
  margin-bottom: 20px;

  @include tablets {
    display: none;
  }
}

.products__col {
  width: 50%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    width: 80%;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.products__image {
  @include tablets {
    height: 300px;
  }

  @include berries {
    &:before {
      background-image: imgPath("decor/leaf-1.png");
      width: 75px;
      height: 92px;
      top: 23%;
      left: -13%;
    }

    &:after {
      background-image: imgPath("decor/leaf-2.png");
      width: 99px;
      height: 73px;
      right: 12%;
      bottom: -5%;
    }
  }
}

.products__image-elem {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.products__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #0d0d0d;
  text-transform: uppercase;

  @include tablets {
    padding: 0 10%;
  }
}

.products__text {
  margin-bottom: 23px;
}

.products__values-row {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products__values-block {
  &:first-child {
    padding-right: 30px;
  }
}

.products__values-amount {
  font-weight: bold;
  color: #333333;
}

.products__values-rub {
  color: #0d0d0d;
  font-size: 60px;
}

.products__values-rub-sign {
  font-size: 38px;
}