.products__container {
  display: flex;
}

.products__col {
  width: 50%;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }
}

.products__image {
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    background: imgPath("decor/leaf-1.png") center center no-repeat;
    width: 75px;
    height: 92px;
  }

  &:after {
    background: imgPath("decor/leaf-2.png") center center no-repeat;
    width: 99px;
    height: 73px;
  }
}

.products__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 18px;
  color: #0d0d0d;
  text-transform: uppercase;
}

.products__text {
  margin-bottom: 20px;
}

.products__values-row {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.products__values-block {
  width: 50%;
}

.products__values-amount {
  font-weight: bold;
  color: #333333;
}

.products__values-rub {
  color: #0d0d0d;
  font-size: 60px;
}