.reviews {
  background: imgPath("decor/strawberry-cereal.png") right 20px top 10px no-repeat;

  @include berries {
    &:before {
      background-image: imgPath("decor/side-round-leaf.png");
      width: 102px;
      height: 321px;
      bottom: -160px;
      left: 0;
    }

    &:after {
      background-image: imgPath("decor/assorted-berries.png");
      width: 135px;
      height: 193px;
      bottom: -87px;
      left: 4px;
    }
  }
}

.reviews__container {
  padding: 0 1%;
}

.reviews__display {
  background: imgPath("decor/drown-berries.png") right top no-repeat #f8faf9;
  padding: 50px 45px 35px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  margin: 0 10%;

  @include tablets {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;

  }
}

.reviews__avatar {
  width: 253px;
  height: 260px;
  margin-right: 20px;

  @include tablets {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.reviews__avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__text {
  flex: 1;
  padding-right: 80px;
  padding-top: 8px;

  @include tablets {
    text-align: center;
    padding-right: 0;
    padding-top: 0;
  }
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
  color: #323232;
}

.reviews__content {
  margin-bottom: 9px;
}

.reviews__author {
  color: #666666;
  font-weight: bold;
}