.video {
  width: 660px;
  height: 405px;
  border: 1px solid black;

  @include berries {
    &:before {
      background-image: imgPath("decor/video-leaf-top.png");
      width: 90px;
      height: 77px;
      top: -16%;
      right: -16%;
    }

    &:after {
      background-image: imgPath("decor/video-leaf-bottom.png");
      width: 72px;
      height: 135px;
      bottom: -10%;
      left: -22%;
    }
  }
}