extends ../main.layout.pug

block content
  include ../sections/hero.pug
  include ../sections/why.pug
  include ../sections/products.pug
  include ../sections/team.pug
  include ../sections/menu.pug
  include ../sections/reviews.pug
  include ../sections/how.pug
  include ../sections/order.pug
  include ../sections/map.pug