$baseFontSize: 18px;

$blue: #61c4d9;
$darkGreen: #0b4d3c;

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic');

@import "./layout/mixins.scss";
@import "./layout/fonts.scss";
@import "./layout/media.scss";
@import "./layout/normalize.scss";
@import "./layout/base.scss";

@import "./components/*.scss";