include ./common/mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport")
    
    title CHOCCO
    
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.css')
    link(rel='stylesheet' href='main.min.css')
  body
    .wrapper
      .maincontent
        block content

      .fullscreen-menu
        a(href="").fullscreen-menu__close x
        - var items = ["О нас", "Батончики", "Команда", "Меню", "Отзывы", "Как мы работаем", "Контакты"];
        ul.menu.menu--vertical
          each item in items
            li.menu__item
              a.menu__item-link(href="") #{item}

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js")
    script(src="main.bundle.js")
